<nav class="header navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="{{ site.baseurl }}"><i class="fa fa-home"></i></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}blogs.html">BLOG</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}projects.html">PROJECTS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ site.baseurl }}resume.html">RESUME</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
