html {
	min-height: 100%;
	border-top: 5px solid rgb(198,12,48);
	border-bottom: 5px solid rgb(198,12,48);
}

a, a:hover{
	color: rgb(198,12,48) !important;
}

#wrap{
	padding-top:5%;
	padding-bottom:5%;
}
/* Custom CSS 
-------------------------------------------------- */
.avatar{
	padding-bottom:5%;
}

/* Header 
-------------------------------------------------- */
.header{
	font-weight: bold;
	background-color: rgb(116,118,118) !important;
}

/* Footer 
-------------------------------------------------- */
.footer {
	text-decoration: none !important;
}