<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="author" content="{{ site.author }}" />
		<meta name="description" content="{{ site.description }}">
		<link rel="favicon" href="{{ site.baseurl }}static/img/favicon.ico">
		{% if page.title %}
		  <title>{{ page.title }}</title>
		{% else %}
		  <title>{{ site.title }}</title>
		{% endif %}
		<!-- CSS -->
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{{ site.baseurl }}static/css/normalize.css" media="all" />
		<link rel="stylesheet" href="{{ site.baseurl }}static/css/bootstrap.min.css"/>
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- Custom styles for this template -->
		<link rel="stylesheet" href="{{ site.baseurl }}static/css/styles.css"media="all" />
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/syntax.css" />
		
		<!-- Google Analytics -->
		{% if site.analytics_code %}
		{% include analytics.html %}
		{% endif %}
	</head>
	<body>
		<!-- Navbar header -->
		{% include header.html %}
		<!-- Wrap all page content here -->
	    <div id="wrap">
		{{ content }}
	    </div>
	    <!-- Footer -->
	    {% include footer.html %}
		<!-- JS -->
		<!-- jQuery first, then Bootstrap bundle JS -->
		<script src="{{ site.baseurl }}static/js/jquery-3.3.1.min.js"></script>
		<script src="{{ site.baseurl }}static/js/bootstrap.bundle.min.js"></script>
		<script src="{{ site.baseurl }}static/js/ie10-viewport-bug-workaround.js"></script>
		<!-- Custom JS -->
		<script src="{{ site.baseurl }}static/js/main.js"></script>
	</body>
</html>